*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ea5656;
}
nav{
    background-color: #e61010;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    border-style: solid;
    border-width: 10px;
    border-color: #f06418ed;
   
}
h1{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 110px;
    font-size: 45px;
    color: aliceblue;
    
}
h3{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 5px;
    font-size: 25px;
}
li{
    display: inline;
    list-style: none;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
   
}
li:hover{
    color: white;
    cursor: pointer;
}   
ul{
    position: absolute;
    top: 40px;
    right:60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.heading{
    background-color:darkred;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: chocolate
}
.food{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    padding-top: 50px;
    gap:20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
     border-style: solid;
    border-width: 10px;
    border-color: #f06418ed;
   
}
.food div{
    margin: 10px;
    text-align: center;
    color: azure;
    flex-basis: 20%;
}
.food button{
    color: white;
    border: white;
    border-style: solid;
    border-width: 3px;
    background-color:#be1010;
    border-radius: 10px;
    font-size: 20px;
    padding: 3px;
    transition: 10px;
}
.food button:hover{
    cursor: pointer;
    transform: scale(1.05)
}
.aboutus div{
     background-color:darkred;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: chocolate;
    
}
.aboutus p{
    padding: 5px;
    border-style: solid;
    border-width: 10px;
    border-color: #f06418ed;
}
.contact div{
    background-color:darkred;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: chocolate
}
.contact table{
    display:flex;
    flex-direction: row;
    justify-content: center;
    font-size: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #f06418ed;
}
.footer{
    background-color: darkred;
    height: 30px;
}

